<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ONEKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ONEKitExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F4DBCDA41D16747400EDA820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DBCDBD1D16747400EDA820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DBCDC81D16747500EDA820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DBCDDF1D1674A400EDA820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4DBCDE81D1674A400EDA820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
